body {
	font-family : Arial, Verdana, Helvetica, sans-serif;
	font-style : normal;
/* 	text-align: justify; */
}

h4, h3, h2, h1 {
	border-bottom-color : #5287BC;
	border-bottom-style : outset;
	border-bottom-width : 2pt;
	color : #2F4E6C;
	font-variant : small-caps;
	margin-bottom : 1em;
	margin-top : 1em;
	margin-left: 10px;
}

.a, a:link, a:active, a:visited {
	color : #121279;
	text-decoration : none;
}


a:hover {
	color : #121279;
	cursor : pointer;
	font-style : italic;
	text-decoration : none;
}

img[alt=img100]{
	width: 100%;
}

img[alt=img80]{
	width: 80%;
}

img[alt=img50]{
	width: 50%;
}

img[alt=img50l]{
	float: left;
	margin-right: 2em;
	margin-bottom: 1em;
	width: 50%;
}

img[alt=img33]{
	width: 32%;
}

img[alt=img33l]{
	float: left;
	margin-right: 1em;
	width: 33%;
}

img[alt=img20]{
	width: 20%;
}

img[alt=img20l]{
	float: left;
	margin-right: 1em;
	width: 20%;
}

.copyright{
	font-size: 0.5em;
}

.cls{
	clear: both;
}


.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }
